<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--移动端预览设置-->
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <title>博客发布</title>
    <!--Semantic UI css资源-->
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">
    <!--Editor.md-->
    <link href="/lib/Editor_md/css/editormd.min.css" rel="stylesheet">
    <!--引入自定义css文件-->
    <link href="/css/my.css" rel="stylesheet">
</head>
<body>
<!--导航-->
<nav th:replace="admin/_fragments :: menu(1)"></nav>

<div class="ui attached pointing right menu">
    <div class="ui container">
        <div class="right menu">
            <a class="active teal item" href="#" th:href="@{/admin/blogs/input}">发布</a>
            <a class="item" href="#" th:href="@{/admin/blogs}">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div class="my-container my-padded-tb-medium">
    <div class="ui container">
        <form action="#" class="ui form" id="blog-form" method="post" th:action="@{/admin/blogs}" th:object="${blog}">

            <input name="published" type="hidden">
            <input name="id" th:value="*{id}" type="hidden">
            <input name="views" th:value="*{views}" type="hidden">
            <input name="createTimeL" th:value="*{createTimeL}" type="hidden">

            <div class="required field">
                <div class="ui left labeled input">
                    <!--compact 紧凑-->
                    <div class="ui  selection compact teal basic dropdown label">
                        <input name="flag" th:value="*{flag}?*{flag}:'原创'" type="hidden" value="原创">
                        <i class="dropdown icon"></i>
                        <div class="text">原创</div>
                        <div class="menu">
                            <div class="item" data-value="原创">原创</div>
                            <div class="item" data-value="转载">转载</div>
                            <div class="item" data-value="翻译">翻译</div>
                        </div>
                    </div>
                    <input name="title" placeholder="标题..." th:value="*{title}" type="text">
                </div>
            </div>
            <div class="required field">
                <div id="md-content" style="z-index: 1 !important;">
                    <textarea name="content" placeholder="博客内容" style="display: none" th:text="*{content}">
                    </textarea>
                </div>
            </div>

            <div class="two fields">
                <div class="required field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">分类</label>
                        <div class="ui fluid selection dropdown">
                            <input id="typeId" name="type.id" th:value="*{type}?*{type.id}" type="hidden">
                            <i class="dropdown icon"></i>
                            <!--default 效果：字体阴影-->
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div class="item" data-value="1" th:data-value="${type.id}" th:each="type : ${types}"
                                     th:text="${type.name}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">标签</label>
                        <div class="ui fluid multiple search selection dropdown">
                            <input name="tagIds" th:value="*{tagIds}" type="hidden">
                            <i class="dropdown icon"></i>
                            <!--default 效果：字体阴影-->
                            <div class="default text">标签</div>
                            <div class="menu">
                                <div class="item" th:data-value="${tag.id}" th:each="tag : ${tags}"
                                     th:text="${tag.name}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">首图</label>
                    <input name="firstPicture" placeholder="首图引用地址" th:value="*{firstPicture}" type="text">
                </div>

            </div>

            <div class="inline fields">
                <div class="field">
                    <div class="ui checkbox">
                        <input checked id="reconmend" name="recommend" th:checked="*{recommend}" type="checkbox">
                        <label for="reconmend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input checked id="shareStatement" name="shareStatement" th:checked="*{shareStatement}"
                               type="checkbox">
                        <label for="shareStatement">转载声明</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input checked id="appreciation" name="appreciation" th:checked="*{appreciation}"
                               type="checkbox">
                        <label for="appreciation">赞赏</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input checked id="commentAbled" name="commentAbled" th:checked="*{commentAbled}"
                               type="checkbox">
                        <label for="commentAbled">评论</label>
                    </div>
                </div>
            </div>

            <div class="ui error message">

            </div>

            <div class="ui right aligned container">
                <button class="ui button" onclick="window.history.go(-1)" type="button">返回</button>
                <button class="ui secondary button" id="save-btn" type="button">保存</button>
                <button class="ui teal button" id="publish-btn" type="button">发布</button>
            </div>
        </form>

    </div>
</div>

<!--底部footer-->
<footer th:replace="admin/_fragments :: footer"></footer>

<th:block th:replace="admin/_fragments :: script"></th:block>

<script src="/lib/Editor_md/editormd.min.js"></script>

<script>
    //初始化Markdown编辑器
    var contentEditor;

    $(function () {
        contentEditor = editormd("md-content", {
            width: "100%",
            height: 640,
            syncScrolling: "single",
            path: "/lib/Editor_md/lib/"
        });
    });

    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'title',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入博客标题'
                }]
            },
            content: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入博客内容'
                }]
            },
            typeId: {
                identifier: 'typeId',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请选择博客分类'
                }]
            },
            tagIds: {
                identifier: 'tagIds',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请选择博客标签'
                }]
            },
            firstPicture: {
                identifier: 'firstPicture',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入博客首图'
                }]
            }
        }
    })

    $("#save-btn").click(function () {
        $('[name="published"]').val(false);
        $("#blog-form").submit();
    });

    $("#publish-btn").click(function () {
        $('[name="published"]').val(true);
        $("#blog-form").submit();
    });

    // $('.ui.fluid.multiple.search.selection.dropdown')
    //     .dropdown({
    //         allowAdditions: true
    //     })
    // ;

</script>
</body>
</html>