<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/_fragments :: head(~{::title})">
    <title>博客管理登录</title>
</head>

<body>

<div class="my-container" style="max-width: 25em !important;">
    <div class="ui container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <div class="content">
                        后台管理登录
                    </div>
                </h2>
                <form action="/admin/login" class="ui large form" method="post">
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="userName" placeholder="用户名">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="密码">
                            </div>
                        </div>
                        <!--只生效一个空格-->
                        <button class="ui fluid large teal submit button">登 录</button>
                    </div>
                    <div class="ui mini negative message" id="errorTip" th:text="${message}"
                         th:unless="${#strings.isEmpty(message)}"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="_fragments :: script"></th:block>

<script>
    $('.ui.form').form({
        fields: {
            username: {
                identifier: 'userName',
                rules: [{
                    type: 'empty',
                    prompt: '请输入用户名'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: '请输入密码'
                }]
            }
        }
    });

    setTimeout(function () {
        document.getElementById('errorTip').style.display = "none";
    }, 3000);

</script>

</body>
</html>