<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments :: head(~{::title})">
    <title>500 - o((>ω< ))o</title>
</head>

<body>
<nav th:replace="_fragments :: menu(0)"></nav>

<br><br><br><br><br><br><br><br><br><br>

<div class="my-container my-padded-tb-large">
    <div class="ui error message my-padded-tb-large">
        <h1>500</h1>
        <p>服务器内部错误...</p>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br>

<footer th:replace="_fragments :: footer"></footer>
</body>
</html>