<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments :: head(~{::title})">
    <title>关于我</title>
</head>

<body>

<!--导航-->
<nav th:replace="_fragments::menu(5)"></nav>

<!--中间内容-->
<div class="my-padded-tb-medium">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment">
                    <img alt="" class="ui rounded image" src="/images/carGirl.jpg">
                </div>

            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment">
                    <p>本科就读于重庆交通大学，</p>
                    <p>学习编程中，</p>
                    <p>希望廖大佬带带我！！！</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange basic label my-padded-tb-soTiny my-margin-tb-tiny">这不会</div>
                    <div class="ui orange basic label my-padded-tb-soTiny my-margin-tb-tiny">哪不会</div>
                    <div class="ui orange basic label my-padded-tb-soTiny my-margin-tb-tiny">廖大佬</div>
                    <div class="ui orange basic label my-padded-tb-soTiny my-margin-tb-tiny">带带我😢</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui teal basic label my-padded-tb-soTiny my-margin-tb-tiny">C++</div>
                    <div class="ui teal basic label my-padded-tb-soTiny my-margin-tb-tiny">Java</div>
                    <div class="ui teal basic label my-padded-tb-soTiny my-margin-tb-tiny">Python</div>
                    <div class="ui teal basic label my-padded-tb-soTiny my-margin-tb-tiny">都不会😢</div>
                </div>
                <div class="ui bottom attached segment">

                    <a class="ui circular icon button" target="_blank" th:href="#{about.github.href}">
                        <i class="github icon"></i>
                    </a>

                    <a class="ui weChat circular icon button" href="#">
                        <i class="weixin icon"></i>
                    </a>

                    <a class="ui circular icon button" target="_blank" th:href="#{about.qq.href}">
                        <i class="qq icon"></i>
                    </a>

                </div>

                <div class="ui weChatQR flowing popup transition visible animating scale out">
                    <img alt="" class="ui rounded image" src="/images/weChat.png" style="width: 110px">
                </div>

            </div>
        </div>
    </div>


</div>

<br><br><br>

<!--底部footer-->
<footer th:replace="_fragments :: footer"></footer>

<th:block th:replace="_fragments :: script"></th:block>

<script>

    $('.weChat').popup({
        popup: $('.weChatQR'),
        on: 'hover',
        position: 'bottom center'
    });

</script>
</body>
</html>