<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments :: head(~{::title})">
    <title>归档</title>
</head>

<body>

<!--导航-->
<nav th:replace="_fragments::menu(4)"></nav>

<!--中间内容-->
<div class="my-container my-padded-tb-medium">
    <div class="ui container">
        <!--header-->
        <!--top attached 效果：顶部segment上边为圆角-->
        <div class="ui top attached segment">
            <!--middle aligned 垂直居中-->
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">归档</h3>
                </div>
                <div class="right aligned column">
                    共
                    <h2 class="ui orange header my-inline-block my-text-thin" th:text="${blogCount}">
                        博客数量
                    </h2>
                    篇博客
                </div>
            </div>
        </div>

        <th:block th:each="item : ${archiveMap}">
            <h3 class="ui center aligned header" th:text="${item.key}">年份</h3>
            <!--fluid 填充-->
            <div class="ui fluid vertical menu">
                <a class="item my-padded-tb-zero_seven" target="_blank" th:each="blog:${item.value}"
                   th:href="@{/blog/{id}(id=${blog.id})}">
                     <span>
                    <i class="mini teal circle icon"></i>
                    <span th:text="${blog.title}">blogTitle</span>
                    <div class="ui teal basic label left pointing my-padded-tb-soTiny"
                         th:text="${#dates.format(blog.updateTime,'MMMdd')}">
                        月日
                    </div>
                     </span>
                    <div class="ui orange basic label my-padded-tb-soTiny" th:text="${blog.flag}">
                        原创
                    </div>
                </a>
            </div>
        </th:block>
    </div>
</div>

<br><br><br>

<!--底部footer-->
<footer th:replace="_fragments :: footer"></footer>

<th:block th:replace="_fragments :: script"></th:block>

</body>
</html>