<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments :: head(~{::title})">
    <title>博客详情</title>
</head>

<body>

<!--导航-->
<nav th:replace="_fragments::menu(1)"></nav>

<!--中间内容-->
<div class="my-container my-padded-tb-medium animated fadeIn" id="Waypoints">
    <div class=" ui container">
        <!--top attached 效果：顶部segment上边为圆角-->
        <!--头部区域-->
        <div class="ui top attached segment">
            <div class="ui horizontal link list">
                <div class="item">
                    <img alt="" class="ui avatar image" th:src="@{${blog.user.avatar}}">
                    <div class="content">
                        <a class="header" href="#" th:text="${blog.user.nickName}">
                            nickName
                        </a>
                    </div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i>
                    <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd') }">
                        更新日期
                    </span>
                </div>
                <div class="item">
                    <i class="eye icon"></i>
                    <span th:text="${blog.views}">
                        阅读量
                    </span>
                </div>
            </div>
        </div>

        <!--图片区域-->
        <div class="ui attached segment">
            <!--fluid 铺满-->
            <img alt="" class="ui fluid rounded image" th:src="@{${blog.firstPicture}}">
        </div>

        <!--内容-->
        <div class="ui attached  segment">
            <!--basic 去除了边线-->
            <div class="ui right aligned basic segment">
                <div class="ui orange basic label" th:text="${blog.flag}">flag</div>
            </div>

            <h2 class="ui center aligned header" th:text="${blog.title}">title</h2>

            <!--文章内容-->
            <div class="typo typo-selection js-toc-content my-padded-lr-responsive my-padded-tb-normal"
                 id="content" th:utext="${blog.content}">

            </div>

            <!--标签-->
            <div class="my-padded-lr-responsive">
                <div class="ui basic teal left pointing label" th:each="tag : ${blog.tags}" th:text="${tag.name}">
                    tag
                </div>
            </div>

            <!--赞赏-->
            <div th:if="${blog.appreciation}">
                <div class="ui center aligned basic segment">
                    <button class="ui basic orange basic circular button" id="payButton">赞赏</button>
                </div>

                <div class="ui payQR flowing popup transition visible animating scale out">
                    <div class="ui orange basic label">
                        <div class="ui images" style="font-size: inherit !important;">
                            <div class="image">
                                <img alt="" class="ui rounded bordered image" src="/images/weChat.png"
                                     style="width: 120px">
                                <div>支付宝</div>
                            </div>
                            <div class="image">
                                <img alt="" class="ui rounded bordered image" src="/images/weChat.png"
                                     style="width: 120px">
                                <div>微信</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--博客信息-->
        <div class="ui attached positive message" th:if="${blog.shareStatement}">
            <!--middle aligned 垂直居中-->
            <div class="ui middle aligned grid">
                <div class="eleven wide  column">
                    <ui class="list">
                        <li>作者：<span th:text="${blog.user.nickName}"></span><a href="/about">（联系作者）</a></li>
                        <li>发表时间：<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}"></span></li>
                        <li>版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</li>
                        <li>公众号转载：请在文末添加作者公众号二维码</li>
                    </ui>
                </div>
                <div class="five wide column">
                    <!--right floated 往右浮动-->
                    <img alt="" class="ui right floated rounded bordered image" src="/images/weChat.png"
                         style="width: 120px">
                </div>
            </div>
        </div>

        <!--留言区-->
        <div class="ui bottom attached segment" th:if="${blog.commentAbled}">
            <div class="ui teal segment" id="comment-container">
                <div th:fragment="commentList">
                    <div class="ui threaded comments" style="max-width: 100%">
                        <h3 class="ui dividing header">评论</h3>
                        <div class="comment" th:each="comment : ${comments}">
                            <a class="avatar">
                                <img th:src="@{${comment.avatar}}">
                            </a>
                            <div class="content">
                                <a class="author" style="text-decoration: none">
                                  <span th:text="${comment.nickName}">
                                      nickName
                                  </span>
                                    <div class="ui mini basic teal left pointing label my-padded-zero_two"
                                         th:if="${comment.adminComment}">
                                        博主
                                    </div>
                                </a>
                                <div class="metadata">
                                    <span class="date"
                                          th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">createTime</span>
                                </div>
                                <div class="text" th:text="${comment.content}">评论内容</div>
                                <div class="actions">
                                    <a class="reply" onclick="reply(this)"
                                       th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickName}">
                                        回复
                                    </a>
                                </div>
                            </div>
                            <div class="comments" th:if="${comment.replyComments.size()>0}">
                                <div class="comment" th:each="reply:${comment.replyComments}">
                                    <a class="avatar">
                                        <img th:src="@{${reply.avatar}}">
                                    </a>
                                    <div class="content">
                                        <a class="author" style="text-decoration: none">
                                          <span th:text="${reply.nickName}">
                                              nickName
                                          </span>
                                            <div class="ui mini basic teal left pointing label my-padded-zero_two"
                                                 th:if="${reply.adminComment}">
                                                博主
                                            </div>
                                            &nbsp;
                                            <span class="my-teal" th:text="|@ ${reply.parentComment.nickName}|">
                                                parentNickName
                                            </span>
                                        </a>
                                        <div class="metadata">
                                    <span class="date"
                                          th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">createTime</span>
                                        </div>
                                        <div class="text" th:text="${reply.content}">评论内容</div>
                                        <div class="actions">
                                            <a class="reply"
                                               onclick="reply(this)"
                                               th:attr="data-commentid=${reply.id},data-commentnickname=${reply.nickName}">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui form" id="comment-form">

                <input name="blog.id" th:value="${blog.id}" type="hidden">
                <input name="parentComment.id" type="hidden" value="-1">

                <div class="field">
                    <textarea name="content" placeholder="请输入评论信息..."></textarea>
                </div>
                <div class="fields">
                    <div class="field my-mobile-wide my-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input name="nickName" placeholder="姓名" th:value="${session.user}?${session.user.nickName}"
                                   type="text">
                        </div>

                    </div>
                    <div class="field my-mobile-wide my-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input name="email" placeholder="邮箱" th:value="${session.user}?${session.user.email}"
                                   type="text">
                        </div>

                    </div>
                    <div class="field my-margin-bottom-small my-mobile-wide">
                        <button class="ui teal button my-mobile-wide" id="commentpost-btn" type="button">
                            <i class="edit icon"></i>
                            发布
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="my-padded my-fixed my-right-bottom" id="toolBar" style="display: none">
    <div class="ui vertical icon buttons">
        <button class="ui toc teal button" type="button">目录</button>
        <a class="ui teal button" href="#comment-container" type="button">留言</a>
        <button class="ui weChat icon button"><i class="weixin icon"></i></button>
        <div class="ui icon button" id="toTop-button" type="button"><i class="chevron up icon"></i></div>
    </div>
</div>

<!--文章导航-->
<div class="ui toc-container flowing popup transition visible animating scale out" style="width: 250px!important;">
    <ol class="js-toc"></ol>
</div>

<!--页面二维码-->
<div class="ui weChatQR flowing popup transition visible animating scale out" id="qrCode"></div>

<br>
<br>
<br>

<!--底部footer-->
<footer th:replace="_fragments :: footer"></footer>

<th:block th:replace="_fragments :: script"></th:block>

<script th:inline="javascript">

    $('#payButton').popup({
        popup: $('.payQR.popup'),
        on: 'hover',
        position: 'top center'
    });

    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3',
        // For headings inside relative or absolute positioned containers within content.
        hasInnerContainers: true,
    });

    $('.toc.button').popup({
        popup: $('.toc-container.popup'),
        on: 'click',
        position: 'left center'
    });

    $('.weChat').popup({
        popup: $('.weChatQR'),
        on: 'hover',
        position: 'left center'
    });

    var qrcode = new QRCode("qrCode", {
        text: window.location.href,
        width: 100,
        height: 100,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });

    $('#toTop-button').click(function () {
        $(window).scrollTo(0, 1000);
    });

    var waypoint = new Waypoint({
        element: document.getElementById('Waypoints'),
        handler: function (direction) {
            if (direction === 'down') {
                $('#toolBar').show(500);
            } else {
                $('#toolBar').hide(500);
            }
        }
    });

    //评论表单验证
    $('.ui.form').form({
        fields: {
            content: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入评论内容'
                }
                ]
            },
            nickName: {
                identifier: 'nickName',
                rules: [{
                    type: 'empty',
                    prompt: '请输入你的名称'
                }]
            },
            email: {
                identifier: 'email',
                rules: [{
                    type: 'email',
                    prompt: '请填写正确的邮箱地址'
                }]
            }
        }
    });

    $('#commentpost-btn').click(function () {
        var boo = $('.ui.form').form('validate form');
        if (boo) {
            console.log('校验成功！');
            postData();
        } else {
            console.log('校验失败！');
        }
    });

    function postData() {
        $("#comment-container").load(/*[[@{/comments}]]*/, {
            "parentComment.id": $("[name='parentComment.id']").val(),
            "blog.id": $("[name='blog.id']").val(),
            "nickName": $("[name='nickName']").val(),
            "email": $("[name='email']").val(),
            "content": $("[name='content']").val()
        }, function (responseTxt, statusTxt, xhr) {
            // $(window).scrollTo($('#comment-container'),500);
            clearContent();
        });
    }

    function clearContent() {
        $("[name='content']").val('');
        $("[name='parentComment.id']").val(-1);
        $("[name='content']").attr("placeholder", "请输入评论信息...");
    }

    function reply(obj) {
        var commentId = $(obj).data('commentid');
        var commentNickName = $(obj).data('commentnickname');
        $("[name='content']").attr("placeholder", "@" + commentNickName).focus();
        $("[name='parentComment.id']").val(commentId);
        $(window).scrollTo($('#comment-form'), 500);
    }

    $(function () {
        $("#comment-container").load(/*[[@{/comments/{id}(id=${blog.id})}]]*/);
    });

</script>

</body>
</html>