<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>首页</title>
</head>
<body>

<!--导航-->
<nav th:replace="_fragments::menu(1)"></nav>

<!--中间内容-->
<div class="my-padded-tb-medium">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左边博客列表-->
            <div class="eleven wide column">
                <!--header-->
                <!--top attached 效果：顶部segment上边为圆角-->
                <div class="ui top attached segment">
                    <!--middle aligned 垂直居中-->
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <div class="right aligned column">
                            共 <h2 class="ui orange header my-inline-block my-text-thin" th:text="${page.totalElements}">
                            博客数量</h2> 篇
                        </div>
                    </div>
                </div>
                <!--content-->
                <div class="ui attached segment">
                    <div class="ui vertical segment" th:each="blog : ${page.content}">
                        <div class="ui middle aligned mobile reversed stackable grid">
                            <!--图片左边-->
                            <div class="eleven wide column">
                                <h3 class="ui header">
                                    <a class="my-black" target="_blank" th:href="@{/blog/{id}(id=${blog.id})}"
                                       th:text="${blog.title}">
                                        title
                                    </a>
                                </h3>
                                <p th:text="${blog.description}">
                                    博客描述
                                </p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img alt="" class="ui avatar image" th:src="@{${blog.user.avatar}}">
                                                <div class="content">
                                                    <a class="header" href="#" th:text="${blog.user.nickName}">
                                                        名称
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span
                                                    th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd') }">更新日期</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i><span th:text="${blog.views}">阅读量</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a class="ui teal basic label my-padded-tb-soTiny" href="" target="_blank"
                                           th:text="${blog.type.name}">
                                            分类名称
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a target="_blank" th:href="@{/blog/{id}(id=${blog.id})}">
                                    <img alt="" class="ui rounded image" th:src="@{${blog.firstPicture}}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--footer-->
                <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a class="ui mini teal basic button" th:href="@{/(page=${page.number}-1)}"
                               th:unless="${page.first}">
                                上一页
                            </a>
                        </div>
                        <div class="right aligned column">
                            <a class="ui mini teal basic button" th:href="@{/(page=${page.number}+1)}"
                               th:unless="${page.last}">
                                下一页
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--右边的top-->
            <div class="five wide column">
                <!--分类-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="bars icon"></i> 分类
                            </div>
                            <div class="column right aligned">
                                <a href="" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <!--fluid 流体 效果：填充外层容器-->
                        <div class="ui fluid vertical menu">
                            <!--item 文字之后添加什么都放在最右边-->
                            <a class="item" href="#" th:each="type : ${types}">
                                <span th:text="${type.name}">
                                    学习日志
                                </span>
                                <div class="ui teal basic left pointing label" th:text="${type.blogs.size()}">
                                    13
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--标签-->
                <div class="ui segments my-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i> 标签
                            </div>
                            <div class="column right aligned">
                                <a href="" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <a class="my-margin-tb-tiny ui teal basic left pointing label" href="#" target="_blank"
                           th:each="tag : ${tags}">
                            <span th:text="${tag.name}">方法论</span>
                            <div class="detail" th:text="${tag.blogs.size()}">23</div>
                        </a>
                    </div>
                </div>
                <!--最新推荐-->
                <div class="ui segments my-margin-top-large">
                    <div class="ui secondary segment">
                        <i class="bookmark icon"></i>
                        最新推荐
                    </div>
                    <div class="ui segment" th:each="blog : ${recommendBlogs}">
                        <a class=" my-black" target="_blank" th:href="@{/blog/{id}(id=${blog.id})}"
                           th:text="${blog.title}">
                            title
                        </a>
                    </div>
                </div>

                <!--二维码-->

                <h4 class="ui horizontal divider header">扫码关注我</h4>
                <div class="ui centered card" style="width: 10em">
                    <!-- th:src="@{images/weChat.png}" thymeleaf模板找路径-->
                    <img alt="" class="ui rounded image" th:src="@{images/weChat.png}">
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br>

<!--底部footer-->
<footer th:replace="_fragments :: footer"></footer>

<th:block th:replace="_fragments :: script"></th:block>

<script>
    $('.menu.toggle').click(function () {
        $('.my-item').toggleClass('my-mobile-hide');
    });
</script>

</body>

</html>